<div class="block" id="block-text">
  <div class="content">            
    <h2 class="title">Landing page</h2>

    <div class="inner">
      <p class="first">
          <% unless current_user %>
          <ul>
            <li><%= link_to 'Sign up', new_user_path %></li>
            <li><%= link_to 'Login', login_path %></li>
            <li><%= link_to 'Admin login', new_admin_user_session_path %></li>
          </ul>
          <% else %>
            <ul>
              <li>Your login is: <%= current_user.login %></li>
              <li><%= link_to 'logout', logout_path %></li>
            </ul>
          <% end %>
      </p>
      <hr />
      <p>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. <span class="hightlight">Excepteur sint occaecat cupidatat non proident</span>, sunt in culpa qui officia deserunt mollit anim id est laborum.
      </p>
    </div>
  </div>
</div>







