<div class="block" id="block-signup">
  <h2>Sign up</h2>        
  <div class="content">
    <div class="flash">
      <% flash.each do |type, message| %>
      <div class="message <%= type %>">
        <p><%= message %></p>
      </div>
      <% end %>
    </div>
    <% form_for @user, :url => users_path, :html => { :class => 'form' } do |f| %>
    <%#= f.error_messages %>      
    <div class="group">
        <div class="left">
          <%= label_tag :login, "Login", :class => "label right" %>
          <%= error_message_on :user, :login, :css_class => "error" %>
        </div>
        <div class="right">
          <%= f.text_field :login, :class => 'text_field' %>
        </div>              
        <div class="clear"></div>
      </div>
      <div class="group">
        <div class="left">
          <%= label_tag :email, "E-mail", :class => "label right" %>
          <%= error_message_on :user, :email, :css_class => "error" %>
        </div>
        <div class="right">
          <%= f.text_field :email, :class => 'text_field' %>
        </div>              
        <div class="clear"></div>
      </div>
      <div class="group">
        <div class="left">
          <%= label_tag :password, "Password", :class => "label right" %>
          <%= error_message_on :user, :password, :css_class => "error" %>
        </div>
        <div class="right">
          <%= f.password_field :password, :class => 'text_field' %>
        </div>              
        <div class="clear"></div>
      </div>
      
      <div class="group">
        <div class="left">
          <%= label_tag :password_confirmation, "Password confirmation", :class => "label right" %>
          <%= error_message_on :user, :password_confirmation, :css_class => "error" %>
        </div>
        <div class="right">
          <%= f.password_field :password_confirmation, :class => 'text_field' %>
        </div>              
        <div class="clear"></div>
      </div>
      
      <div class="group navform">
        <%= submit_tag "Sign up", :class => "button" %>
      </div>
    <% end %>
  </div>
</div>